*.pyc
db.sqlite3
__pycache__
local_settings.py
local_wsgi.py
staticfiles
media/
forloop.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
