<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <H2 class="text-center">Login</H2>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" action="" method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}
	          {% for field in form %}
	          <div class="form-group">
	          	{% comment %}
	          		<label for="inputLarge" class="col-lg-2 control-label">{{ field.label_tag }}</label>
	          	{% endcomment %}

	          		{{ field }}
	          		{{ field.errors }}

	          </div>
	          {% endfor %}
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Entrar</button>
              <span class="pull-right"><a href="{% url 'accounts:register' %}">Cadastrar-se</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button type="reset" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		  </div>	
      </div>
  </div>
</div>
